<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Add user</title>
  </head>
  <body>
   <form>
    Email: <input type="text" name="email" placeholder="email">
    Password: <input type="password" name="password" placeholder="password">
    First Name: <input type="text" name="firstName" placeholder="First name">
    Last Name: <input type="text" name="lastName" placeholder="Last name">
    <input type="submit" value="Log in">
   </form>
  </body>
</html>